.container {
    position: absolute;
    top: 20%;
    left: 50%;
    border: 15px black outset;
    border-radius: 35px 0px;
    padding: 10px;
    text-align: center;
    background-color: yellow;
}

.container h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    font: 1em sans-serif;
    font-weight: bolder;
    background-color: yellow;
    color: black;
    border-width: 3px;
    border-radius: 20px;
    padding: 5px;
}